name: end to end tets with local provider

on:
  push:
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  e2e-tests:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: change permissions to /etc/hosts
      run: |
        sudo chmod 666 /etc/hosts
    - name: e2e
      run: |
        ./scripts/e2e-test.sh
